# Environment variables

ASSISTANT_URL=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
ASSISTANT_ID=XXXXXXXXXXXXXXXXXXXXX
ASSISTANT_IAM_APIKEY=XXXXXXXXXX

CLOUDANT_ID=XXXXXXXXXXXXXXXXXXX
CLOUDANT_IAM_APIKEY=XXXXXXXXXXXXXXXXXX
